@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato";
  color: #CCCCCC;
  background-color: #333333;
}

a {
  color: #FFEE59;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
